<section id="page-wrapper">
    <div class="row">
        <!-- Why Should I Become an ASP Home Stager or ASP RE Agent -->
        <div class="col-xs-12 col-md-6">
            <h2 class="text-center space-top-20">Why Should I Become an ASP<sup>&reg;</sup> Home Stager or ASP<sup>&reg;</sup> RE Agent?</h2>

            <!-- ICONS -->
            <div class="text-center">
                <img src="assets/images/Logo-About.png" class="img-responsive center-block" alt="All StagedHomes.com Logo" />
            </div>

            <div class="space-top-20">
                As An Active ASP<sup>&reg;</sup>:
            </div>

            <div class="space-top-20">
                <ol>
                  <li class="becomeASP-list">Because I Will Take the World’s Leading Home Staging Training Course from the Company that Invented Home Staging<sup>&reg;</sup>!</li>
                  <li class="becomeASP-list">I Will Earn the Number One Home Staging Designation, ASP<sup>&reg;</sup>, to Make More Money!</li>
                  <li class="becomeASP-list">I Will Be Featured FREE on the World's #1 Home Staging Directory for the Public to Find Me</li>
                  <li class="becomeASP-list">I Can Market My ASP<sup>&reg;</sup> Staged Homes Here FREE on the #1 Directory for Staged Homes For Sale</li>
                  <li class="becomeASP-list">I Will Have Unlimited Use of the Vast On-Line Staging University<sup>&reg;</sup> as an Active ASP<sup>&reg;</sup>!</li>
                  <li class="becomeASP-list">I Will Receive ASP<sup>&reg;</sup> Vendor Savings up to 50% with Companies like Sears<sup>&reg;</sup></li>
                  <li class="becomeASP-list">Because I Become a Member of The International Association of Home Staging Professionals<sup>&reg;</sup> for FREE</li>
                  <li class="becomeASP-list">Fabulous Support for Me From IAHSP<sup>&reg;</sup> Chapters, ASP<sup>&reg;</sup>/ASPM<sup>&reg;</sup> Mentors, &amp; the Stagedhomes.com<sup>&reg;</sup> Team</li>
                </ol>
              </div>
        </div><!-- /col -->

        <!-- Last Column -->
        <div class="col-xs-12 col-md-6">
            <div class="text-center space-top-20" ng-include="'assets/views/partials/banners.html'"></div>
        </div><!-- /col -->
    </div>
</section>
<!-- /#page-wrapper -->
