<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="assets/images/Logo-Home-Staging-Calculator.png" class="main-logo" alt="StagedHomes.com" /></a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="disabled"><a href="#"><i class="fa fa-user fa-fw"></i></a></li>
        <li class="disabled"><a href="#"><i class="fa fa-gear fa-fw"></i></a></li>
        <li class="disabled"><a href="#"><i class="fa fa-sign-out fa-fw"></i></a></li>

    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav" id="side-menu">
                <li>
                    <a ui-sref="app"><i class="fa fa-calculator fa-fw"></i> Calculator</a>
                </li>
                <li class="disabled">
                    <a href="#"><i class="fa fa-star fa-fw"></i> Favorites</a>
                </li>
                <li>
                    <a ui-sref="app.history"><i class="fa fa-history fa-fw"></i> History</a>
                </li>
                <li >
                    <a ui-sref="app.rosi"><i class="fa fa-info-circle fa-fw"></i> ROSI<sup>&trade;</sup></a>
                </li>
                <li>
                    <a ui-sref="app.become_asp"><i class="fa fa-info-circle fa-fw"></i> Become an ASP<sup>&reg;</sup></a>
                </li>
            </ul>
        </div><!-- /.sidebar-collapse -->
    </div><!-- /.navbar-static-side -->
</nav>
