<section id="page-wrapper">
    <div class="row">
        <!-- SHC Info -->
        <div class="col-xs-12 col-md-6">
            <h2 class="text-center space-top-20">ROSI<sup>&trade;</sup> Result History</sup></h2>

            <div class="space-top-20">
                Your ROSI<sup>&reg;</sup> calculations will be saved here and accessible if you need to recall
                to reference a past calculation.  Up to 10 historical information will be kept.
            </div>
        </div><!-- /col -->

        <!-- Last Column -->
        <div class="col-xs-12 col-md-6">
            <div class="text-center space-top-20" ng-include="'assets/views/partials/banners.html'"></div>
        </div><!-- /col -->
    </div><!-- /row -->
</section>
<!-- /#page-wrapper -->
