<section id="page-wrapper">
    <div class="row">
        <!-- SHC Info -->
        <div class="col-xs-12 col-md-6">
            <div class="text-center space-top-20">
                <img src="assets/images/Logo-StagedHomes.png" alt="StagedHomes.com" />
            </div>

            <div class="space-top-20">
                Statistics show that homes that are ASP<sup>&reg;</sup> Staged in today's market sell
                much faster than those that are not Staged, and usually for more money!
            </div>

            <div class="space-top-20">
                StagedHomes.com<sup>&reg;</sup> of over 1,000 homes (62% vacant, 38% occupied) across
                North America prepared for sale by Accredited Staging Professionals (ASP<sup>&reg;</sup>)
                show that Staged homes sell in an average of 11 days whereas homes that aren't Staged
                take 90 days or more.
            </div>

            <div class="space-top-20">
                See your ROSI<sup>&trade;</sup> (Return On Staging Investment<sup>&trade;</sup>) results
                in the next section.
            </div>
        </div><!-- /col -->

        <!-- ===================================================================================
            ROSI Calculation
        =================================================================================== -->
        <form name="requestForm" ng-submit="calculateROSI()" novalidate>
            <div class="col-xs-12 col-md-6 text-center">
                <div class="space-top-20">Avg # of months on Market for homes that are ASP Staged before Sale</div>
                <div class="space-top-10">
                    <div class="input-group" ng-class="{ 'has-error' : requestForm.monthsBeforeASPStaged.$error.required && !requestForm.monthsBeforeASPStaged.$pristine }">
                        <span class="input-group-addon">$</span>
                        <input type="text" id="monthsBeforeASPStaged" class="form-control" aria-label="Amount"
                            ng-model="userValues.monthsBeforeASPStaged"
                            ng-value="userValues.monthsBeforeASPStaged" />
                    </div>
                </div>

                <div class="space-top-20">Avg # of months on Market for homes that are Not Staged before Sale</div>
                <div class="space-top-10">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                            ng-model="userValues.monthsBeforeNotASPStaged"
                            ng-value="userValues.monthsBeforeNotASPStaged" />
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>

                <div class="space-top-20">Mortgage Amount per Month (Dollar Amount)</div>
                <div class="space-top-10">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="3000" ng-model="userValues.mortgageAmount" ng-value="userValues.mortgageAmount" />
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>

                <div class="space-top-20">Monthly Utilities, HO fees, taxes, insurance &amp; upkeep (Dollar Amount)</div>
                <div class="space-top-10">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="500" ng-model="userValues.utilityAndFees" ng-value="userValues.utilityAndFees" />
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>

                <div class="space-top-20">Staging Investment (Dollar Amount)</div>
                <div class="space-top-10">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="3000" ng-model="userValues.stagingInvestment" ng-value="userValues.stagingInvestment" />
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>

                <!-- Calculate Button -->
                <div class="space-top-40 space-bottom-40"><button type="button" class="btn btn-primary" ng-disabled="commentForm.$invalid">Calculate ROSI</button></div>
            </div><!-- /col -->
        </form>
    </div>
</section>
<!-- /#page-wrapper -->
