<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="space-top-20"><a href="http://stagedhomes.com/aspcourseschmaps.php" target="_blank"><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/stagedhomes/banners/hp-banner-livetraining.jpg" class="img-responsive" alt="Register for Live ASP Training" /></a></div>
        <div class="space-top-20"><a href="http://www.stagingshoppingcenter.com" target="_blank"><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/stagedhomes/banners/hp-banner-shoppingcenter.png" class="img-responsive" alt="Register for Live ASP Training" /></a></div>
        <div class="space-top-20"><a href="http://stagedhomes.com/SF/15TopHomeStagingTips.php" target="_blank"><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/stagedhomes/top-15-tips.png" class="img-responsive" alt="Top 15 Home Staging Tips" /></a></div>
    </div>

    <div class="col-xs-12 col-lg-6">
        <div class="space-top-20"><a href="http://stagedhomes.com/webinar.php" target="_blank"><img src="https://d2itdnqewolu1g.cloudfront.net/images/the-project/stagedhomes/banners/hp-banner-webinartraining.jpg" class="img-responsive" alt="Register for Live ASP Webinar Training" /></a></div>
        <div class="space-top-20"><a href="http://www.iahsp.com" target="_blank"><img src="{{ commonVariables.cdnUrl }}images/the-project/stagedhomes/banners/hp-banner-iahsp.png" class="img-responsive" alt="Register for Live ASP Webinar Training" /></a></div>
    </div>
</div>
