/* --------------------------------------------------
    Overrides
-------------------------------------------------- */
a { color: #588650; }
h2 { font-size: 20px; }

#page-wrapper {
    min-height: 100vh;
}

.navbar-brand { padding: 2px 2px; }
.main-logo { width: auto; height: 95%; }

.space-top-10 { margin-top: 10px; }
.space-top-20 { margin-top: 20px; }
.space-top-40 { margin-top: 40px; }
.space-bottom-40 { margin-bottom: 40px; }

.font-size-20 { font-size: 20px; }
