/* --------------------------------------------------
    Overrides
-------------------------------------------------- */
a { color: #588650; }
.navbar-brand { padding: 2px 2px; }
.main-logo { width: auto; height: 95%; }

.space-top-10 { margin-top: 10px; }
.space-top-20 { margin-top: 20px; }
.space-top-40 { margin-top: 40px; }

.space-bottom-40 { margin-bottom: 40px; }
